.sc-read-document .se-spinner {
  margin: 100px auto 0px;
}

.sc-reader .sc-surface.se-title {
  font-size: 23px;
  margin-bottom: 10px;
}

.sc-reader .sc-layout {
  padding: 40px;
}

.sc-reader .sc-split-pane {

}

.sc-reader .sc-text-property {
  white-space: pre-wrap;
}

.sc-reader .se-context-section {
  background: #fafafa;
  border-left: 1px solid var(--border-color);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
  min-width: 500px;
}

.sc-reader .se-context-section .sc-tabbed-pane .se-tabs .se-tab {
  width: 50%;
  text-align: center;
}

.sc-reader .se-context-section .se-toggle-context {
  height: 41px;
  border-bottom: 1px solid var(--border-color);
}

.sc-reader .se-context-section .se-toggle-context .se-toggle-item {
  float: left;
  height: 41px;
  line-height: 40px;
  padding: 0px 20px;
  color: #444;
  font-size: 12px;
  font-weight: 600;
}

.sc-reader .se-main-section .sc-container-editor > * { margin-bottom: 20px; }
.sc-reader .sc-toolbar { border-bottom: 1px solid var(--border-color); }

.sm-mobile-layout .sc-reader > .se-mobile-header > .se-navigation-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px 10px;
  font-size: 40px;
  border: 1px solid #E0E4E4;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99;
}

.sm-mobile-layout .sc-reader > .se-mobile-header > .se-navigation-toggle.sm-active {
  color: #4b4b4b;
  background: #ececec;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 4px #ccc;
  -moz-box-shadow: inset 0px 0px 4px #ccc;
  box-shadow: inset 0px 0px 4px #ccc;
  border-left: none;
}

.sm-mobile-layout .sc-reader .sc-layout {
  padding-left: 70px;
}

.sm-mobile-layout .sc-reader > .se-main-section,
.sm-mobile-layout .sc-reader > .se-context-section {
  position: relative;
}

.sm-mobile-layout .sc-reader > .se-main-section .sc-scrollbar {
  width: 50px;
}

.sm-mobile-layout .sc-reader > .se-main-section > .sc-scroll-pane > .se-scrollable {
  left: 50px;
}

.sm-mobile-layout .sc-reader > .sm-active {
  height: 100%;
}

.sm-mobile-layout .sc-reader > .se-context-section > .sc-context-panel {
  /* display: none; */
}

.sm-mobile-layout .sc-reader .sc-tabbed-pane {
  background: #fff;
  height: 100%;
}

.sm-mobile-layout .sc-reader .se-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 70px;
}

.sm-mobile-layout .sc-reader .se-tabs .se-tab {
  flex-grow: 1;
  height: 70px;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  background: #eee;
  border-bottom: 1px solid #444;
}

.sm-mobile-layout .sc-reader .se-tabs .se-tab.sm-active {
  background: none;
  border: none;
}

.sm-mobile-layout .sc-tabbed-pane .se-tab-content {
  top: 70px;
  box-shadow: none;
}

.sm-mobile-layout .sc-reader .se-context-section {
  border-left: none;
  box-shadow: none;
  font-size: 2em;
}

.sm-mobile-layout .sc-reader .sc-media-jumper {
  left: 10px;
  width: 60px;
  height: 60px;
  visibility: hidden;
}

.sm-mobile-layout .sc-reader .sc-media-jumper::after {
  font-size: 50px;
  visibility: visible;
}
