.sc-context-source {
  position: absolute;
  top: 250px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  padding: 20px;
  border-top: 1px solid #e5e5e5;
}

.sc-context-source > div {
  font-size: 13px;
  line-height: 25px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  white-space: pre-wrap;
}

.sc-context-source > .se-section > .se-section-title {
  padding: 0px;
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
}

.sc-context-source > .se-section {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  padding: 20px 30px;
  background: #fff;
}

.sc-context-source .se-meta-prop {
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 13px;
}

.sc-context-source .se-meta-prop .se-meta-label {
  color: #757575;
}

.sc-context-source .se-meta-prop .se-meta-value {
  flex-grow: 1;
}

.sc-context-source .se-cover img {
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.sc-context-source .se-meta-prop .se-meta-value .se-topic:not(:empty) ~ .se-topic:not(:empty):before {
  content: ", ";
  color: initial;
}

.sc-context-source .se-fpr-logo img {
  width: 100%;
}

.sc-overlay-player {
  position: absolute;
  width: 560px;
  z-index: 99;
  top: 40px;
  padding: 20px;
}

.sc-overlay-player.sm-empty {
  display: none;
}

.sc-overlay-player .plyr--audio .plyr__controls {
  border-radius: 20px;
  background: none;
  border-color: #000;
  color: #000;
}

.sc-overlay-player .plyr__progress--played, 
.sc-overlay-player .plyr__volume--display {
  color: #929292;
}

.sc-overlay-player .plyr__progress--buffer, 
.sc-overlay-player .plyr__progress--played, 
.sc-overlay-player .plyr__volume--display {
  height: 4px;
  margin: -2px 0 0;
}

.sc-overlay-player .plyr--audio .plyr__progress--buffer, 
.sc-overlay-player .plyr--audio .plyr__volume--display {
  background: #929292;
}

.sm-mobile-layout .sc-context-source {
  width: 100%;
  margin: 0px;
  padding: 20px;
}

.sm-mobile-layout .sc-overlay-player {
  width: 100%;
  z-index: 99;
  top: 90px;
}

.sm-mobile-layout .sc-context-source .se-meta-prop {
  display: block;
  margin-bottom: 10px;
}

.sm-mobile-layout .sc-context-source .se-technical-info .se-meta-prop .se-meta-label {
  width: 30%;
}

.sm-mobile-layout .sc-reader .sc-brackets .se-bracket.sm-active {
  border-right: 5px;
}
