/* Scholar styles */
@import '../../node_modules/plyr/dist/plyr.css';
@import '../../node_modules/leaflet/dist/leaflet.css';
@import '../../node_modules/leaflet.markercluster/dist/MarkerCluster.css';
@import './scholar.css';

@font-face {
	font-family: 'FuturaPTWebBook';
	src: url('/assets/fonts/FTN45__W.eot');
	src:
		 url('/assets/fonts/FTN45__W.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/FTN45__W.woff2') format('woff2'),
		 url('/assets/fonts/FTN45__W.woff') format('woff'),
		 url('/assets/fonts/FTN45__W.ttf') format('truetype'),
		 url('/assets/fonts/FTN45__W.svg#FuturaPTWeb-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaPTWebMedium';
	src: url('/fonts/FTN55__W.eot');
	src:
		 url('/assets/fonts/FTN55__W.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/FTN55__W.woff2') format('woff2'),
		 url('/assets/fonts/FTN55__W.woff') format('woff'),
		 url('/assets/fonts/FTN55__W.ttf') format('truetype'),
		 url('/assets/fonts/FTN55__W.svg#FuturaPTWeb-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}