.footer{
	width: 100%;
	height: 260px;
	padding: 60px 0;
	background: #191919;
	line-height: 25px;
}
.footer a{
	color: #fff;
}
.footer-fond{
	float: left;
	height: 90px;
}

.footer-links{
	text-align: right;
	margin-top: 30px; 
}
.footer-links a{
	margin: 0 0 0 40px;
}

.footer-social{
	text-align: right;
}
.footer-social a{
	margin: 0 0 0 20px; 
}
.footer-social a:hover{
	opacity: 0.5;
}

.footer-bottom{
	clear: both;
	margin-top:20px; 
}

.footer-copy{
	color: #9a9a9a;
}
.footer-rules{
	text-align: right;
	float: right;
}

@media (max-width: 767px){
	body{
		margin-bottom: 620px;
	}
	.footer{
		height: 620px;
	}
	.footer-fond{
		float:none;
	}
	.footer-links {
		text-align: left;
	}
	.footer-links a{
		display: block;
		height: 50px;
		margin: 0;
	}
	.footer-social{
		text-align: left;
	}
	.footer-social a{
		margin: 0 20px 0 0; 
	}
	.footer-rules{
		float: none;
		text-align: left;
		margin: 20px 0; 
	}
}

.rules-overlay{
	position: fixed;
	left: 0;top:0;right: 0;bottom: 0;
	background: rgba(0,0,0,0.7);
	display: none;
	z-index: 1000;
}
.rules-content{
	position: fixed;
	left: 50px;top:50px;right: 50px;bottom: 50px;
	padding:30px;		
	background: #fff;
	overflow-y: auto;	 

}
.rules-close{
	position: fixed;
	top: 10px;
	right: 10px;
}