@import './_meta-filters.css';
@import './_resources.css';

.sc-explorer {
  background: #ebebeb;
  color: #1a1a1a;
  font-family: 'FuturaPTWebBook';
  font-size: 15px;
  line-height: 1.6666666667;
  height: 100vh;
  overflow: auto;
}

.sc-explorer .se-explorer-layout {
  height: auto;
  margin: 0px;
  padding: 0px;
}

.sc-explorer .sc-searchbar {
  position: relative;
  z-index: 10;
  background-color: #0c87cb;
  text-transform: none;
  padding: 20px 0px;
}

.sc-explorer .sc-searchbar > .container {
  position: relative;
}

.sc-explorer .sc-searchbar .se-search-input {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 60px;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 20px 30px;
  line-height: 20px;
  color: #fff;
  font-size: 16px;
}

.sc-explorer .sc-searchbar .se-search-input::placeholder{
  color: #fff;
  opacity: 0.5;
}
  
.sc-explorer .sc-searchbar .se-search-submit {
  position: absolute;
  right: 30px;
  top:0px;
  height: 60px;
  border:none;
  outline: none;
  background: none;
  padding: 0;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  opacity: 0.7;
}
.sc-explorer .sc-searchbar .se-search-submit:hover{
  opacity: 1;
}

/* .sc-explorer .sc-searchbar .se-search-submit {
  position: absolute;
  top: 5px;
  right: 6px;
  height: 30px;
  line-height: 30px;
  background: #4A90E2;
  padding: 0px 10px;
  color: #fff;
  border-radius: 3px;
}

.sc-explorer .sc-searchbar .se-search-submit:hover,
.sc-explorer .sc-searchbar .se-search-submit:active {
  background: #4A90E2!important;
} */

.sc-explorer .se-results-pane {
  position: relative;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 30px;
}

.sc-explorer .se-results-pane .sc-grid {
  padding-bottom: 10px;
  border-radius: 3px;
  padding: 0px 2px;
  margin-bottom: 10px;
  flex-grow: 1;
  height: auto;
  overflow: visible;
}

.sc-explorer .sc-grid .se-row:hover {
  background: none;
}

.sc-explorer .sc-document-item {
  border-bottom: none;
}

.sc-explorer .sc-document-item .se-topic-badges {
  padding-top: 10px;
}

.sc-explorer .sc-document-item .se-topic-badge {
  background: rgba(194, 234, 35, 0.16);
  margin-right: 10px;
  margin-bottom: 10px;
  color: #888;
  display: inline-block;
  padding: 3px 5px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 3px;
}

.sc-explorer .sc-document-item .se-topic-badge i {
  margin-right: 5px;
}

.sc-explorer .sc-grid .sc-grid {
  overflow: inherit;
}

.sc-explorer .sc-document-item.sm-expanded {
  border-bottom: none;
}

.sc-explorer .se-document-fragment {
  display: block;
  clear: both;
  color: inherit;
}

.sc-explorer .sc-document-item .se-document-fragment:first-of-type {
  border-top: 1px solid #e6e6e6;
}

.sc-explorer .se-document-fragment > .se-cell {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.sc-explorer .se-document-fragment .se-badge {
  text-align: center;
  min-width: 60px;
}

.sc-explorer .se-document-fragment .se-badge .se-timecode {
  font-size: 10px;
}

.sc-explorer .se-document-fragment:before,
.sc-explorer .se-document-fragment:after {
  content: " ";
  display: table;
}

.sc-document-item .se-document-photo {
  height: 0;
  padding-bottom: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
}

.sc-document-item .se-meta-info > * {
  display: inline-block;
  padding-right: 15px;
  color: #888;
}

.sc-document-item .se-document-title {
  display: block;
  font-size: 18px;
  padding: 5px 0px;
  color: inherit;
}

.sc-document-item .se-photo {
  padding: 15px 10px 15px 0px;
  max-height: 230px;
  max-width: 210px;
}

.sc-explorer .se-results-pane .se-sidebar {
  margin: 0px 0px 0px 20px;
  width: 400px;
  flex: 0 0 auto;
  height: auto;
}

.sc-explorer .se-sidebar .se-total {
  padding-bottom: 10px;
  font-size: 20px;
  font-style: italic;
  color: #888;
  width: 270px;
}

.sc-explorer .se-sidebar .sc-resource-entries .se-entry,
.sc-explorer .se-sidebar .sc-topic-entries .se-entry {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: rgba(132, 132, 132, 0.1);
  color: #555;
  font-size: 13px;
  cursor: pointer;
}

.sc-explorer .se-panel {
  margin-bottom: 10px;
  padding: 20px 30px;
  background: #fff;
}

.sc-explorer .se-panel .se-title {
  font-size: 20px;
  color: #000;
  padding: 10px 10px 10px 10px;
}

.sc-explorer .se-fpr-logo img {
  width: 100%;
}

.sc-facets .se-tree-node {
  font-size: 13px;
  font-weight: 400;
  padding: 5px 10px;
  cursor: pointer;
  color: #0c87cb;
}

.sc-facets .se-tree-node.level-1 { padding-left: 25px; }
.sc-facets .se-tree-node.level-2 { padding-left: 41px; }
.sc-facets .se-tree-node.level-3 { padding-left: 57px; }
.sc-facets .se-tree-node.level-4 { padding-left: 73px; }
.sc-facets .se-tree-node.level-5 { padding-left: 89px; }
.sc-facets .se-tree-node.level-6 { padding-left: 105px; }

.sc-facets .se-tree-node.sm-selected {
  border-left: 4px solid #91bb04;
  background: #fff;
}

.sc-facets .se-tree-node .se-tree-node-name {
  padding-left: 20px;
}

.sc-facets .se-tree-node .selection {
  float: right;
  font-size: 23px;
  padding: 9px 20px;
  top: 0px;
  position: absolute;
  right: 0px;
}

.sc-facets .se-tree-node .selection.fa-square-o {
  padding: 9px 23px;
}

.sc-facets .se-tree-node .expansion {
  font-size: 23px;
  position: absolute;
  top: 7px;
}

.sm-mobile-layout .sc-explorer .se-search-pane {
  display: flex;
}

.sm-mobile-layout .sc-explorer .se-search-pane .sc-searchbar {
  flex-grow: 1;
  vertical-align: middle;
}

.sm-mobile-layout .sc-explorer .se-navigation-toggle {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #fff;
  padding: 10px 12px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  color: #191919;
}

.sm-mobile-layout .sc-explorer .se-navigation-toggle.sm-active {
  background: #191919;
  color: #fff;
}

.sm-mobile-layout .sc-explorer .se-panel {
  padding: 20px 10px;
}

/* .sm-mobile-layout .sc-explorer .se-sidebar {
  padding: 20px;
} */

.sm-mobile-layout .sc-explorer .se-search-pane .se-navigation-toggle.sm-active,
.sc-explorer .se-results-pane .se-sidebar .se-tree-node.sm-active {
  color: #fff;
  background: #0c87cb;
  outline: none;
  border-left: none;
  text-decoration: underline;
}

.sm-mobile-layout .sc-explorer .se-results-pane .se-sidebar {
  width: 100%;
  margin: 0px;
}

.sm-mobile-layout .sc-explorer .se-results-pane .se-sidebar .se-tree-node {
  font-size: 20px;
}

.sm-mobile-layout .sc-explorer .se-results-pane .se-sidebar .se-radio-filter li {
  width: 50%;
}

.sm-mobile-layout .sc-explorer .se-results-pane .se-sidebar .se-radio-filter li label {
  width: 100%;
}

.sm-mobile-layout .sc-explorer .se-results-pane .sc-grid .se-total {
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
}

@media screen and (max-width: 830px) {
  .sc-grid > .se-row > .se-cell.sm-column-3.se-photo {
    float: none;
    width: 100%;
  }

  .sm-mobile-layout .sc-grid > .se-row > .se-cell.sm-column-3.se-photo {
    float: left;
    width: 23.8%;
  }
}

@media screen and (max-width: 600px) {
  .sm-mobile-layout .sc-grid > .se-row > .se-cell.sm-column-3.se-photo {
    float: none;
    width: 100%;
  }
}
