.sc-resources {
  flex-grow: 1;
  height: calc(100vh - 100px);
  overflow: auto;
  padding: 10px;
  border: 1px solid #E0E4E4;
  border-radius: 3px;
}

.sc-resources .se-resource {
  padding: 10px 0px;
}

.sc-explorer .se-results-pane .sc-resources > .sc-grid {
  padding-bottom: 10px;
  border: none;
  padding: 0px;
  margin-bottom: 10px;
  flex-grow: 1;
  height: 100%;
  overflow: initial;
}

.sc-resources .se-resource .se-title {
  font-size: 18px;
  padding-bottom: 5px;
  clear: left;
}

.sc-resources .se-resource .se-prison-type {
  float: left;
  padding-bottom: 5px;
}

.sc-resources .se-resource .se-location {
  float: right;
  color: inherit;
}

.sc-resources .se-resource .se-location i {
  margin-left: 5px;
}
