.sc-context-topics .se-content {
  font-size: 12px;
  padding: 0em;
  line-height: 24px;
}

.sc-context-topics .se-content .se-tree-node {
  display: block;
  position: relative;
  min-height: 1em;
  padding: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid transparent;
  cursor: pointer;
  font-size: 1.2em;
  color: rgba(0,0,0,0.75);
}

.sc-context-topics .se-content .se-tree-node.sm-active {
  color: #4b4b4b;
  background: #ececec;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 4px #ccc;
  -moz-box-shadow: inset 0px 0px 4px #ccc;
  box-shadow: inset 0px 0px 4px #ccc;
  border-left: none;
}

.sc-context-topics .se-content .se-tree-node:hover {
  color: rgba(0,0,0,0.75);
  cursor: pointer;
}

.sm-mobile-layout .sc-context-topics .se-content .se-tree-node {
  font-size: 3em;
  text-align: center;
}
