.sc-subjects-page .se-entity-layout {
  display: flex;
  flex-flow: column nowrap;
}

.sc-subjects-page .se-cell.se-title {
  font-weight: bold;
}

.sc-subjects-page .se-document-reference .se-badge {
  background: #fafafa;
  text-align: center;
}

.sc-subjects-page .se-document-reference:hover > .se-badge {
  background: #EEEEEE;
}

.sc-subjects-page .se-row.se-highlighted .se-tree-node-name {
  background: rgba(4, 239, 0, 0.2);
  padding: 5px;
  position: relative;
  left: -5px;
}

.se-cell.se-level-1 {
  padding-left: 20px!important;
}

.se-cell.se-level-2 {
  padding-left: 50px!important;
}

.se-cell.se-level-3 {
  padding-left: 80px!important;
}

.se-cell.se-level-4 {
  padding-left: 110px!important;
}

.se-cell.se-level-5 {
  padding-left: 140px!important;
}

.se-cell.se-level-6 {
  padding-left: 170px!important;
}

.se-cell.se-level-7 {
  padding-left: 200px!important;
}

.se-cell.se-level-8 {
  padding-left: 230px!important;
}

.se-cell.se-level-9 {
  padding-left: 260px!important;
}

.sc-subjects-page .se-collapse {
  width: 15px;
  font-size: 15px;
  margin-left: -15px;
}

.sc-subjects-page .se-level-1 .se-collapse {
  margin-left: 0px;
}

.sc-subjects-page .se-tree-node-description {
  border-bottom: none;
}

.sc-subjects-page .sc-grid .se-description {
  float: left;
  padding: 0px 10px 10px;
}

.se-drop-before {
  border-top: 1px solid #4CAF50;
}

.se-drop-before .se-title::after {
  content: "\f101";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: -11px;
  bottom: -10px;
  left: 10px;
  font-size: 20px;
  color: #4CAF50;
}

.se-drop-after {
  border-bottom: 1px solid #4CAF50;
}

.se-drop-drill {
  box-shadow: rgba(36, 243, 33, 0.22) 0px 0px 0px 1px inset, rgba(36, 243, 33, 0.12) 0px 2px 4px 0px, rgba(36, 243, 33, 0.15) 0px 2px 10px 0
}

/*.se-drop-before::before,
.se-drop-after::after {
  width: 100%;
  height: 30px;
  border: 1px dashed #CCC;
  background: none;
  margin: 10px;
}
*/

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.sc-subjects-page .se-entity-layout .sc-modal {
  z-index: 99;
}