.sc-entity-panel > * > .se-title {
  padding: 0px 20px;
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
}

.sc-entity-panel .se-header {
  display: flex;
}

.sc-entity-panel .se-topic-entries, 
.sc-entity-panel .se-entity-entries {
  border-bottom: 1px solid #e5e5e5;
  margin: 20px;
  padding: 20px 0px;
  background: #fff;
}

.se-entity-entries .sc-entity-entry,
.se-topic-entries .se-tree-node {
  position: relative;
  min-height: 0px;
  padding: 4px 20px;
  border-bottom: none;
  border-left: 2px solid transparent;
  cursor: pointer;
}

.se-entity-entries .sc-entity-entry.se-active,
.se-topic-entries .se-tree-node.sm-active {
  background: white;
  border-left: 2px solid #0b9dd9;
}

.se-entity-entries .sc-entity-entry:hover {
  border-left: 2px solid rgba(11, 157, 217, 0.3);
}

.se-entity-entries .sc-entity-entry .se-title {
  color: #0086c8;
  margin-bottom: 0px!important;
}

.se-entity-entries .sc-entity-entry .se-description {
  font-size: 14px;
  margin-right: 0px;
  color: #9e9e9e;
}

.se-entity-entries .sc-entity-entry .se-resource-external-link {
  position: absolute;
  font-size: 16px;
  color: #999;
}

.se-topic-entries .se-tree-node {
  min-height: 0px;
}

.se-topic-entries .se-tree-node.sm-active {
  border-left: 2px solid rgb(145, 187, 4);
}

.se-topic-entries .se-tree-node:hover {
  color: rgba(0,0,0,0.75);
  cursor: pointer;
}

.sm-mobile-layout .sc-reader .sc-context-resources .se-tree-node {
}

.sm-mobile-layout .sc-reader .sc-context-resources .se-tabs,
.sm-mobile-layout .sc-reader .sc-context-resources .se-tabs .se-tab {
  height: 60px;
}

.sm-mobile-layout .se-entity-entries .sc-entity-entry {
}

.sm-mobile-layout .se-entity-entries .sc-entity-entry .se-title {
}

.sm-mobile-layout .se-entity-entries .sc-entity-entry .se-description {
  font-size: 1.2em;
}

.sm-mobile-layout .se-entity-entries .sc-entity-entry a {
  display: none;
}

.sm-mobile-layout .se-entity-entries .sc-entity-entry.se-active,
.sm-mobile-layout .se-topic-entries .se-tree-node.sm-active {
  color: #4b4b4b;
  background: #ececec;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 4px #ccc;
  -moz-box-shadow: inset 0px 0px 4px #ccc;
  box-shadow: inset 0px 0px 4px #ccc;
  border-left: none;
}

.sm-mobile-layout .sc-context-source .se-meta-prop.se-meta-topics .se-meta-value {
  font-size: 1em;
  line-height: 1em;
}

.sm-mobile-layout .sc-context-source .se-meta-prop {
  line-height: 30px;
  font-size: 20px;
}